.crossword-board-container {
    position: relative;
    background: #FFFFFF;
    display: flex;
    justify-content: center; /* Horizontally centers */
    align-items: center;
}
  
.crossword-board {
    position: absolute;
    background: transparent;
    display: grid;
    border: none;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    gap: 1em;
    width: 70vw;
    height: 100vh;
    grid-template: repeat(9, 11.1111111%)/repeat(10, 10%);
    top: 10em;
}
  
.crossword-board__item {
    background: #FFFFFF;
    position: relative;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    visibility: visible;  
    border: 0.05em solid #000000;
    font-size: 6em;
}

.crossword-board__item--blank {
    background: transparent;
    border: none;
    outline: none;
}

.crossword-board-num {
    position: absolute;
    top: 0em;
    left: 0.05em;
    font-size: 0.35em;
    color: #000000;
    font-weight: normal;
}

@keyframes entranceAnimation {
    0% {
        transform: scale(3) rotate(45deg);
        opacity: 0;
    }
    100% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
}

.animate-entrance {
    animation: entranceAnimation 0.2s ease-out;
}

.content {
    padding: 20px;
    background-color: #fff;
}

@keyframes blurScreen {
    0% {
        filter: blur(0px);
    }
    100% {
        filter: blur(5px);
    }
}

@keyframes unblurScreen {
    0% {
        filter: blur(5px);
    }
    100% {
        filter: blur(0px);
    }
}

.animate-blur {
    animation: blurScreen 0.5s ease-out;
    filter: blur(5px);
}

.animte-unblur {
    animation: unblurScreen 0.5s ease-out;
    filter: blur(0px);
}