.crossword-board-container {
    position: relative;
    background: #FFFFFF;
    display: flex;
    justify-content: center; /* Horizontally centers */
    align-items: center;
}
  
.crossword-board {
    position: absolute;
    background: transparent;
    display: grid;
    border: none;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    gap: 1em;
    width: 1100px;
    height: 1000px;
    grid-template: repeat(9, 11.1111111%)/repeat(10, 10%);
    top: 15em;
}
  
.crossword-board__item {
    background: #FFFFFF;
    position: relative;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    visibility: visible;  
    border: 0.05em solid #000000;
    font-size: 6em;
}

.crossword-board__item--blank {
    background: transparent;
    border: none;
    outline: none;
}

.crossword-board-num {
    position: absolute;
    top: 0em;
    left: 0.05em;
    font-size: 0.35em;
    color: #000000;
    font-weight: normal;
}
